services:
  # backend:
  #   build:
  #     context: .
  #     dockerfile: ./Dockerfile
  #   container_name: fk-stickers-backend
  #   ports:
  #     - "3001:3001"
  #   env_file:
  #     - ./.env
  #   depends_on:
  #     - db
  #   networks:
  #     - fk-stickers-network

  db:
    image: postgres:${TAG_DB_VERSION:-latest}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped


volumes:
  postgres_data: