services:
  # backend:
  #   build:
  #     context: .
  #     dockerfile: ./Dockerfile
  #   container_name: fk-stickers-backend
  #   ports:
  #     - "3001:3001"
  #   env_file:
  #     - ./.env
  #   depends_on:
  #     - db
  #   networks:
  #     - fk-stickers-network

  postgres_db:
    image: postgres:15
    container_name: fk-stickers-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - fk-stickers-network